#start {
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}

#start img {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 8rem;
}

header {
	background-color: #4b4b4b;
	height: 3.5rem;
}

#head-title {
	color: #b0c4de;
	text-decoration: none;
}
#head-title:hover {
	color: #b0c4de;
	text-decoration: none;
}

#head-nav > div > a {
	color: #e6e6fa;
	text-decoration: none;
}
#head-nav > div > a:hover {
	color: #c7c7d7;
}

#drawer-btn:focus {
	outline: none;
}



footer {
	background-color: #585858;
	padding: 1rem;
}
#footer_title {
	color: white;
	font-size: 1.5rem;
}


.footer-link, .footer-link:hover {
	color: #000000;
}